  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:  #F5AD8C;
    color: #000;
    font-family: poppins;
}

.container {
    background-color: #EC745C;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.input-fields {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color: purple;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s;
}
button:hover{
    background-color: white;
    border: 3px solid purple;
    color: purple;
    font-weight: 500;
}

#result {
    margin-top: 20px;
}

.bmiCategory {
    font-weight: bold;
}
